@import './normalize.less';
@import './variables.less';
@import './arco.less';

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  min-height: 450px;
  margin: 0;
  padding: 0;
  font-size: @font-size-fourteen;
  background-color: var(--color-bg-1);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.container {
  display: flex;
  height: 100%;
  background-color: var(--color-bg-5);
}

.padding-content {
  padding: @padding-medium;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mt4 {
  margin-top: @margin-mini;
}

.mt8 {
  margin-top: @margin-small;
}

.mt16 {
  margin-top: @margin-medium;
}

.mb4 {
  margin-bottom: @margin-mini;
}

.mb8 {
  margin-bottom: @margin-small;
}

.mb16 {
  margin-bottom: @margin-medium;
}

.ml4 {
  margin-left: @margin-mini;
}

.ml8 {
  margin-left: @margin-small;
}

.ml16 {
  margin-left: @margin-medium;
}
